[Unit]
Description=Sync unix accounts with ASSERT team config every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
