name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: publish
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
          submodules: true
      
      - name: Set up Ruby
        uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      
      # Following the README
      - name: Install python dependencies
        run: pip install bibble
    
      - name: Build
        id: build
        run: make

      - name: Deploy
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3
        if: success()
        with:
          allow_empty_commit: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: publish
          publish_dir: _site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
